/* .scroll-video-wrapper {
  position: relative;
}

.video-frame {
  position: fixed;
  top: 0;
  left: 10;
  width: 80%;
  height: 100%;
  z-index: -1;
  z-index: 10;
}

@media(max-width:439px) {
  .video-frame {
    position: fixed;
    top: 0;
    left: 10;
    width: auto;
    height: 100%;
    z-index: 10;
  }
} */

.scroll-video-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
