* {
    box-sizing: border-box;
    margin: 0;
}

.aboutsection {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.productsection {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.contactsection {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.contact {
    box-sizing: border-box;
    margin: 0px 0px 1.3vw;
    min-width: 0px;
    /* background: linear-gradient(rgba(184, 78, 39, 0) 0%, rgba(184, 78, 39, 0) 0.3%, rgba(184, 78, 39, 0.1) 20%, rgba(184, 78, 39, 0.2) 29%, rgba(184, 78, 39, 0.55) 62%, rgb(184, 78, 39) 100%); */
    background: linear-gradient(rgba(184, 78, 39, 0) 0%, rgba(184, 78, 39, 0) 0.3%, rgba(184, 78, 39, 0.1) 20%, rgba(184, 78, 39, 0.2) 29%, rgba(184, 78, 39, 0.55) 62%, rgb(184, 78, 39) 100%);
    height: 100px;
    transform: rotate(-180deg);
    padding-top: 1vw;
    padding-bottom: 1vw;

    .ncontact {
        box-sizing: border-box;
        margin: 0px auto;
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        padding-left: 3.71vw;
        padding-right: 3.71vw;
        transform: rotate(-180deg);
        height: 100%;
        opacity: 1;
        transition-duration: 0.25s;
    }

    h1 {
        padding-top: 2%;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        color: white;
    }
}

.products {
    box-sizing: border-box;
    margin: 0px 0px 1.3vw;
    min-width: 0px;
    background: linear-gradient(rgba(9, 162, 120, 0) 0%, rgba(9, 162, 120, 0) 0.3%, rgba(9, 162, 120, 0.1) 20%, rgba(9, 162, 120, 0.2) 29%, rgba(9, 162, 120, 0.55) 62%, rgb(9, 162, 120) 100%);
    height: 100px;
    transform: rotate(-180deg);
    padding-top: 1vw;
    padding-bottom: 1vw;

    .nproducts {
        box-sizing: border-box;
        margin: 0px auto;
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        padding-left: 3.71vw;
        padding-right: 3.71vw;
        transform: rotate(-180deg);
        height: 100%;
        opacity: 1;
        transition-duration: 0.25s;
    }

    h1 {
        padding-top: 2%;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        color: white;
    }
}

.about {
    box-sizing: border-box;
    margin: 0px 0px 1.3vw;
    min-width: 0px;
    background: linear-gradient(rgba(0, 58, 188, 0) 0%, rgba(0, 58, 188, 0) 0.3%, rgba(0, 58, 188, 0.1) 20%, rgba(0, 58, 188, 0.2) 29%, rgba(0, 58, 188, 0.55) 62%, rgb(0, 58, 188) 100%);
    height: 100px;
    transform: rotate(-180deg);
    padding-top: 1vw;
    padding-bottom: 1vw;

    .nabout {
        box-sizing: border-box;
        margin: 0px auto;
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        padding-left: 3.71vw;
        padding-right: 3.71vw;
        transform: rotate(-180deg);
        height: 100%;
        opacity: 1;
        transition-duration: 0.25s;
    }

    h1 {
        padding-top: 2%;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        color: white;
    }
}

.p {
    font-size: 28px;
    font-weight: 300;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-align: justify;
}

.para {
    font-size: 23px;
    font-weight: 300;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-align: justify;
}

.par {
    font-size: 18px;
    font-weight: 300;
}

h3 {
    color: #ff001c;
}

.logoimage {
    width: 10%;
    position: fixed;
}


.sidebars {
    background: linear-gradient(rgb(0, 58, 188) 0%, rgb(0, 58, 188) 98%, rgb(4, 110, 154) 99%, rgb(9, 162, 120) 100%);
    min-width: 13.79vw;
    width: 13.79vw;
}

@media(max-width:439px) {
    .sidebars {
        display: none;
    }
}

.navlinkss {
    .navproduct {
        display: none;
    }
}

.sidebars:hover {
    background: linear-gradient(rgb(0, 58, 188) 0%, rgb(0, 58, 188) 98%, rgb(0, 58, 188) 99%, rgb(0, 58, 188) 100%);
    min-width: 46.95vw;
    width: 46.95vw;

    .footer {
        margin-top: 10%;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .menu {
        display: flex;
    }

    .navlinkss {
        display: flex;
        font-size: larger;

        .navproduct {
            display: block;
            margin-left: 15%;
        }
    }
}

.productdiv {
    background: linear-gradient(rgb(9, 162, 120) 0%, rgb(9, 162, 120) 98%, rgb(96, 120, 79) 99%, rgb(184, 78, 39) 100%);
    min-width: 13.79vw;
    width: 13.79vw;
}

.productdiv:hover {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.75s;
    z-index: 999;
    width: 46.95vw;
    transform-origin: 50% 50% 0px;

    .footer {
        margin-top: 10%;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .menu {
        display: flex;
    }

    .navlinkss {
        display: flex;
        font-size: larger;

        .navproduct {
            display: block;
            margin-left: 15%;
        }
    }
}

.contactdiv {
    background: linear-gradient(rgb(184, 78, 39) 0%, rgb(184, 78, 39) 98%, rgb(237, 19, 19) 99%, rgb(255, 0, 0) 100%);
    min-width: 13.79vw;
    width: 13.79vw;
}

.contactdiv:hover {
    background: linear-gradient(rgb(184, 78, 39) 0%, rgb(184, 78, 39) 98%, rgb(237, 19, 19) 99%, rgb(255, 0, 0) 100%);
    min-width: 46.95vw;
    width: 46.95vw;
    /* z-index: 0; */

    .footer {
        /* padding-inline: 4%; */
        margin-top: 10%;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .menu {
        display: flex;
    }

    .navlinkss {
        display: flex;
        font-size: larger;

        .navproduct {
            display: block;
            margin-left: 15%;
        }
    }

}

.side {
    position: fixed;
    color: white;
    margin-top: 15%;
    font-size: larger;
    z-index: 100;

    .footer {
        padding-inline: 4%;
        margin-top: 75%;
        display: flex;

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.menu {
    display: none;
    /* display: flex; */
    list-style: none;
}

.menu li {
    margin: 10px;
    border: 1px solid #ff001c;
    padding: 10%;
    border-radius: 50%;
}

.card {
    position: relative;
}

.ssb {
    font-size: 5em;
    font-weight: 800;
    color: white;
    margin-top: -18%;
}

#myDiv {
    animation: fade 3s infinite;
    /* Animate opacity over 3 seconds, repeat indefinitely */
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.5;
        /* rotate: 180deg; */
    }

    50% {
        opacity: 0.9;
        /* rotate:-180deg; */
    }

    /* Fade to transparent at 50% */
    100% {
        opacity: 1;
    }

    /* Return to opaque at 100% */
}

.accordion-body {
    background-color: transparent;
}

ul {
    list-style-type: none;

    a {
        color: white;
        text-decoration: none;
        font-size: 25px;
    }
}

img {
    width: 100%;
}

.lefts:hover+.metaltext {
    display: block;
    color: black;
}

.fa-bottle-water:hover+.metaltext {
    display: block;
    color: black;
    width: 100%;
}

.fa-handshake:hover+.metaltext {
    display: block;
    color: black;
    margin-top: 5%;
}

.fa-users:hover+.metaltext {
    display: block;
    color: black;
    width: 100%;
}

.fa-blackberry:hover+.metaltext {
    display: block;
    color: black;
    width: 100%;
}

.metaltext {
    display: none;
}

.circular {
    /* padding: 5%; */
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 5px solid red;
    margin-left: 30%;
}

.rights {
    float: right;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-inline-end: -6%;
    margin-top: 10%;
    background-color: red;
    color: white;
    border: 5px solid red;

    i {
        margin-top: 46%;
        font-size: 5rem;
    }
}

.textss {
    display: none;
}

.lefts {
    margin-top: -10%;
    margin-inline-start: 30%;
    float: left;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: 5px solid red;

    i {
        margin-top: 12%;
        font-size: 4.5rem;
    }
}

.centerss {
    margin-top: 15%;
    margin-inline-start: -55%;
    float: left;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: 5px solid red;

    i {
        margin-top: 12%;
        font-size: 4.5rem;
    }
}

.topss {
    margin-top: 70%;
    margin-inline-start: 20%;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    float: inline-start;
    background-color: red;
    color: white;
    border: 5px solid red;

    i {
        font-size: 4.5rem;
        margin-top: 16%;
    }
}

.bottoms {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: 5px solid red;
    float: inline-end;
    margin-inline-end: -25%;
    margin-top: 50%;

    i {
        font-size: 4.5rem;
        margin-top: 16%;
    }
}

.productpara {
    font-size: 1.2rem;
}

.contactdiv:hover {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.75s;
    z-index: 999;
    width: 46.95vw;
    transform-origin: 50% 50% 0px;
}