<!-- <app-sidebar class="nav"></app-sidebar> -->
<!-- <app-video></app-video> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="" style="display: flex; height: 100%; flex-direction: row;">
    <div class="deskstop" id="colorbox-desktop"
        style="background: linear-gradient(rgb(0, 58, 188) 0%, rgb(0, 58, 188) 98%, rgb(4, 110, 154) 99%, rgb(9, 162, 120) 100%);" >
        <img src="/assets/logo.png" id="myDiv" class="logoimage" alt="Logo image">
        <!-- Left side - Static colored background only -->

        <!-- Right side - Hover effect with nav menu -->
        <div class="deskstop-right">
            <!-- <img src="/assets/logo.png" id="myDiv" class="logoimage" alt="Logo image"> -->

            <div class="side">
                <div class="navlinkss">
                    <ul>
                        <a href="#Intro">
                            <li [routerLink]="['/Video']">Introduction</li>
                        </a>
                        <a href="#Home">
                            <li [routerLink]="['/Home']">Home</li>
                        </a>
                        <a href="#About">
                            <li [routerLink]="['/About']">About</li>
                        </a>
                        <a href="#Products">
                            <li [routerLink]="['/Our-products']">Our Product</li>
                        </a>
                        <a href="#Contact">
                            <li [routerLink]="['/Contact-us']">Contact </li>
                        </a>
                    </ul>
                    <div class="navproduct">
                        <a href="#Nylon-granules">
                            <li>Nylon Granules</li>
                        </a>
                        <a href="#Acrylonitrile">
                            <li>Acrylonitrile Butadiene Styrene </li>
                        </a>
                        <a href="#Polypropylene">
                            <li>Polypropylene (PP) </li>
                        </a>
                        <a href="#Polyoxymethylene">
                            <li>Polyoxymethylene (POM) </li>
                        </a>
                        <a href="#Polycarbonates">
                            <li>Polycarbonates (PC) </li>
                        </a>
                        <a href="#Poly_Methyl_Methacrylate">
                            <li>Poly Methyl Methacrylate (PMMA) </li>
                        </a>
                        <a href="#Poly_Vinyl_Chloride">
                            <li>Poly Vinyl Chloride (PVC) </li>
                        </a>
                        <a href="#Polystyrene">
                            <li>Polystyrene (PS) </li>
                        </a>
                        <a href="#Polybutylene_Terephthalate">
                            <li>Polybutylene Terephthalate (PBT)</li>
                        </a>
                        <a href="#Polyethylene">
                            <li>Polyethylene (PE) </li>
                        </a>
                    </div>
                </div>

                <div class="footer">
                    <div class="privacypolicy">
                        <h5>Privacy Policy</h5>
                        <h5>Designed by <a href="https://fourthdm.in/" target="_blank">FourthDm</a></h5>
                        <h5>Developed by <a href="https://fourthdm.com/" target="_blank">FourthDm</a></h5>
                        <p> &copy;SSB 2025</p>
                    </div>
                    <br>
                    <!-- <ul class="menu">
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><i
                            class="fa-brands fa-facebook-f fa-xl "></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/" target="_blank" viewBox="0 0 51 51"><i
                            class="fa-brands fa-linkedin-in fa-xl"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube fa-xl"></i>
                    </a>
                </li>
            </ul> -->
                </div>
            </div>

        </div>
    </div>

    <div class="">
        <div class="">
            <div class="laptopview">
                <div class="scroll-video-wrapper">
                    <div class="spacer" style="height: 4000px;"></div> <!-- scroll area -->
                    <img #frameImage class="video-frame" [src]="currentFrameSrc" />
                </div>
            </div>

            <!-- <div class="mobilewrapper">
                <div class="scroll-video-wrapper">
                    <div class="spacer" style="height: 4000px;"></div> 
                    <img #frameImage class="video-frame" [src]="currentframe" />
                </div>
            </div> -->

            <!-- <div class="scroll-video-wrapper">
                <div class="video-container">
                    <img #frameImage class="video-frame" [src]="currentFrameSrc" />
                </div>
                <div class="spacer" style="height: 4000px;"></div>
            </div> -->
        </div>

        <div class="bg-image">
            <img src="/assets/background.jpg" class="img-fluid img" alt="Sample" />
            <img src="/assets/bgmobile.jpg" class="img-fluid images" alt="Sample" />
            <div class="mask">
                <div class="d-flex justify-content-end">
                    <p class="ssb">SSB POLYMERS</p>
                </div>
                <div class="text-center ssbm">
                    <p class="ssbm">SSB</p>
                </div>
            </div>
        </div>



        <div class="description">
            <div id="About">
                <div class="aboutsection">
                    <div class="about">
                        <div class="nabout">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-9">
                            <p class="p"> <b style="font-weight: 700;">S.S.B. POLYMERS & S.S.B. ENTERPRISES</b> is a
                                privately owned dynamic company, founded in 2008 as an international reselling/trading
                                company of industrial plastic raw materials.
                                We have been performing in the plastic material industry since 2008 and we are mainly
                                specialized in Nylon / ABS and Polypropylene raw material.
                                Worldwide product sourcing and
                                well established links with suppliers make EURSIACORP an excellent partner for plastic
                                processors and converters. Very concerned by the future of our planet we also focus on
                                regrinds and regran from post industrial and post consumer waste.</p>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="divss">
                                <!-- <h3>Our Activities</h3><br> -->
                                <p></p>
                            </div>
                        </div><br>

                        <div class="col-md-4">
                            <div class="divss">
                                <h3>Activities</h3>
                                <p class="par"> Manufacturing and Trading in Broad Range of Plastic Raw Material,
                                    Plastic Raw Material Reprocessing Services, Virgin Plastic Raw Material, Color
                                    Masterbatches, Colored
                                    Plastic Granules, Job Work of Reprocessing of Plastic, Master Batches Plastic,
                                    Plastic Raw,
                                    Materials, Polymer Granules, Polypropylene Granules, Pp Granules , Pvc Plastic
                                    Granules Recycled Granules, Reprocessed Plastic Granules, Reprocessors Of Plastic
                                    Raw
                                    Materials,Thermoplastic Granules, Thermoplastic Raw Materials</p>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="divss">
                                <h3>Assurance</h3>
                                <p class="par">Our world-class quality products that are manufactured by us. Our company
                                    is
                                    committed to manufacture Plastic Raw Materials.</p>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="divss">
                                <h3>Certifications</h3>
                                <p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
                                    ullam similique
                                    et, voluptatem odit beatae facilis fugit dolor eius excepturi architecto accusantium
                                    quisquam earum tempora iusto perspiciatis officiis! Temporibus, velit.</p>
                            </div>
                        </div><br>

                    </div>
                    <br>
                    <img src="/assets/about/about_1.jpg" alt="">
                    <br><br>
                    <app-products></app-products>
                    <br>
                    <!-- Testimonials Section-->
                    <div class="container">
                        <h2>Testimonials :</h2>
                        <p class="p">Our innovative technology and quest for a greener tomorrow have garnered
                            attention
                            and
                            received nods of approval from various press and media outlets.</p>
                        <br>
                        <div class="row">
                            <div class="col-md-3 "></div>
                            <br>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet
                                            sit
                                            laboriosam ex similique aliquid, quis dignissimos expedita. Dolore
                                            dolores cum iusto nobis sit quasi vel temporibus nisi soluta ipsam.
                                        </p>
                                        <br>
                                        <p>— <b>John Doe</b>, CEO, XYZ Corporation</p>
                                    </div>
                                </div><br>
                            </div><br>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet
                                            sit
                                            laboriosam ex similique aliquid, quis dignissimos expedita. Dolore
                                            dolores cum iusto nobis sit quasi vel temporibus nisi soluta ipsam.
                                        </p>
                                        <br>
                                        <p>— <b>John Doe</b>, CEO, XYZ Corporation</p>
                                    </div>
                                </div><br>
                            </div><br>

                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet
                                            sit
                                            laboriosam ex similique aliquid, quis dignissimos expedita. Dolore
                                            dolores cum iusto nobis sit quasi vel temporibus nisi soluta ipsam.
                                        </p>
                                        <br>
                                        <p>— <b>John Doe</b>, CEO, XYZ Corporation</p>
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="faq">
                        <h2>FAQ :</h2>
                        <p style="font-size: larger;">Frequently Asked Questions
                            Here are some of the common enquiries that we receive from time to time, and we hope they
                            will answer yours too.
                        </p>
                        <br><br>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4>What are polymers?</h4>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the first item's accordion body.</strong> It is shown by
                                        default, until the collapse plugin adds the appropriate classes that we use
                                        to style each element. These classes control the overall appearance, as well
                                        as the showing and hiding via CSS transitions. You can modify any of this
                                        with custom CSS or overriding our default variables. It's also worth noting
                                        that just about any HTML can go within the <code>.accordion-body</code>,
                                        though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4>How are polymers made?</h4>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use
                                        to style each element. These classes control the overall appearance, as well
                                        as the showing and hiding via CSS transitions. You can modify any of this
                                        with custom CSS or overriding our default variables. It's also worth noting
                                        that just about any HTML can go within the <code>.accordion-body</code>,
                                        though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <h4>What are the different types of polymers?</h4>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptas
                                        vitae quod in numquam voluptatum quo unde at placeat, quam consectetur velit
                                        fuga! Ex minima cumque alias omnis, possimus voluptatem?
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsefour" aria-expanded="false"
                                        aria-controls="collapsefour">
                                        <h4>What are some common applications of polymers?</h4>
                                    </button>
                                </h2>
                                <div id="collapsefour" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                        sit delectus maiores obcaecati! Fugiat qui hic magnam voluptatem
                                        doloremque, modi fuga est asperiores illo commodi magni atque laborum
                                        nulla obcaecati?
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsefive" aria-expanded="false"
                                        aria-controls="collapsefive">
                                        <h4>What are some things to consider when working with polymer products?</h4>
                                    </button>
                                </h2>
                                <div id="collapsefive" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo adipisci
                                        enim quaerat blanditiis veniam quis, reiciendis voluptas, deleniti,
                                        dignissimos sapiente voluptates corrupti mollitia sint odio non possimus
                                        nisi autem. Praesentium!
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
                                        necessitatibus animi eveniet cupiditate vitae corrupti totam aliquid
                                        repellendus, accusamus magnam dicta ut! Ratione accusamus expedita quidem
                                        iure quisquam nobis facere?
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                        <h4> Which countries do you supply product to?</h4>
                                    </button>
                                </h2>
                                <div id="collapsesix" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut quaerat
                                        quisquam porro veniam quis nam libero dolore assumenda est! Deleniti rem
                                        quibusdam autem id enim iure, voluptas fugiat dignissimos dolores!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseseven" aria-expanded="false"
                                        aria-controls="collapseseven">
                                        <h4>Can your products bond to Polyethylene, Polypropylene, or Delrin?</h4>
                                    </button>
                                </h2>
                                <div id="collapseseven" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, a
                                        temporibus exercitationem aliquid natus minima doloribus perferendis nobis
                                        architecto ut? Voluptatibus nulla repellat mollitia eos dolorem nihil
                                        corrupti voluptatum odio!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br><br>
                    <!-- <div class="text-center">
                        <div class="circular">
                            <div class="lefts">
                                <i class="fa-solid fa-medal"></i>
                            </div>
                            <div class="metaltext">
                                <p>We provide the platform for our customers to champion the use of OBP perpetually</p>
                            </div>
                            <br>

                            <div class="rights">
                                <i class="fa-solid fa-bottle-water fa-2xl"></i>
                                <div class="metaltext">
                                    <p>We provide the platform for our customers to champion the use of OBP perpetually
                                    </p>
                                </div>
                            </div> <br>

                            <div class="topss">
                                <i class="fa-solid fa-handshake"></i>
                                <div class="metaltext">
                                    <p>We provide the platform for our customers to champion the use of OBP perpetually
                                    </p>
                                </div>
                            </div>
                            <br>

                            <div class="bottoms">
                                <i class="fa-solid fa-users"></i>
                                <div class="metaltext">
                                    <p>We provide the platform for our customers to champion the use of OBP perpetually
                                    </p>
                                </div>
                            </div>
                            <br>

                            <div class="centerss">
                                <i class="fa-brands fa-blackberry"></i>
                                <div class="metaltext">
                                    <p>We provide the platform for our customers to champion the use of OBP perpetually
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div> -->
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
    <br><br><br>
</div>
<!-- <app-footer></app-footer> -->
<div class="" style="display: flex; height: 100%; flex-direction: row;">
    <div id="colorbox-desktop" class="deskstop"
        style="background:linear-gradient(rgb(9, 162, 120) 0%, rgb(9, 162, 120) 98%, rgb(96, 120, 79) 99%, rgb(184, 78, 39) 100%)">

        <img src="/assets/logo.png" id="myDiv" class="logoimage" alt="Logo image">
        <div class="side">
            <div class="navlinkss">
                <ul>
                    <a href="#Intro">
                        <li [routerLink]="['/Video']">Introduction</li>
                    </a>
                    <a href="#Home">
                        <li [routerLink]="['/Home']">Home</li>
                    </a>
                    <a href="#About">
                        <li [routerLink]="['/About']">About</li>
                    </a>
                    <a href="#Products">
                        <li [routerLink]="['/Our-products']">Our Product</li>
                    </a>
                    <a href="#Contact">
                        <li [routerLink]="['/Contact-us']">Contact </li>
                    </a>
                </ul>
                <ul class="navproduct">
                    <a href="#Nylon-granules">
                        <li>Nylon Granules</li>
                    </a>
                    <a href="#Acrylonitrile">
                        <li>Acrylonitrile Butadiene Styrene </li>
                    </a>
                    <a href="#Polypropylene">
                        <li>Polypropylene (PP) </li>
                    </a>
                    <a href="#Polyoxymethylene">
                        <li>Polyoxymethylene (POM) </li>
                    </a>
                    <a href="#Polycarbonates">
                        <li>Polycarbonates (PC) </li>
                    </a>
                    <a href="#Poly_Methyl_Methacrylate">
                        <li>Poly Methyl Methacrylate (PMMA) </li>
                    </a>
                    <a href="#Poly_Vinyl_Chloride">
                        <li>Poly Vinyl Chloride (PVC) </li>
                    </a>
                    <a href="#Polystyrene">
                        <li>Polystyrene (PS) </li>
                    </a>
                    <a href="#Polybutylene_Terephthalate">
                        <li>Polybutylene Terephthalate (PBT)</li>
                    </a>
                    <a href="#Polyethylene">
                        <li>Polyethylene (PE) </li>
                    </a>
                </ul>
            </div>

            <div class="footer">
                <div class="privacypolicy">
                    <h5>Privacy Policy</h5>
                    <h5>Designed by <a href="https://fourthdm.in/" target="_blank">FourthDm</a></h5>
                    <h5>Developed by <a href="https://fourthdm.com/" target="_blank">FourthDm</a></h5>
                    <p> &copy;SSB 2025</p>
                </div>
                <br>
            </div>
        </div>
    </div>

    <section class="red" id="Products">
        <div class="productsection">
            <div class="products">
                <div class="nproducts">
                    <h1>Our Products</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div id="Nylon-granules">
                <h3> 1. Nylon Granules :</h3>
                <p class="productpara">
                    We are Manufacturer, Supplier, Exporter of Nylon Granules, Nylon 6 Unfilled Granules, Nylon
                    6 Glassfilled Granules, Nylon 66 Glassfilles Granules, Nylon 66 Granules, Nylon 66 Technyl
                    Unfilled GlassFilled, Nylon 6 Virgin Reprocessed, Nylon Natural Black Unfilled GlassFilled and our
                    setup is situated in Pune, Maharashtra, India.
                    <br><br>
                    Nylon is the plastic material based on polyamide-6 that is a thermoplastic resin with
                    excellent mechanical, thermal and electrical properties. Nylon is widely used in the
                    manufacture of automobile and industrial parts.
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> NYLON 6 UNFILLED </li>
                    <li> NYLON 6 GLASSFILLED</li>
                    <li> NYLON 66 UNFILLED</li>
                    <li> NYLON 66 GLASSFILLES</li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/nylon-granules.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/nylon-granules-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/nylon-granules-2.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/thermoplastics.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
            <div id="Acrylonitrile" class="abs">
                <h3> 2. Acrylonitrile Butadiene Styrene (ABS) :</h3> <br>
                <p class="productpara">
                    We are Manufacturer, Supplier, Exporter of Acrylonitrile Butadiene Styrene Granules, ABS
                    Granules, Flame Retardant ABS Granules, ABS Natural Granules, ABS Extrusion Sheet Granules,
                    ABS Virgin LG Bhansali Absolac Sabic Starex Chimei, ABS Reprocessed Black Dana Granules, ABS
                    FR V0 V2 Black Natural and our setup is situated in Pune, Maharashtra, India.
                    <br><br>
                    ABS is a highly-functional plastic known for its strong heat resistance and impact
                    resistance. It is highly processable and can be manufactured in various colors. It is used
                    in numerous areas including toys such as automobiles, home appliances, IT devices, etc.
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> ABS BLACK</li>
                    <li> ABS NATURAL</li>
                    <li> ABS FLAME RETARDENT</li>
                    <li> ABS PLATING</li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/acrylonitrile-butadiene-styrene.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/acrylonitrile-butadiene-styrene-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>

                </div>
                <br>
            </div>
            <br>
            <div id="Polypropylene" class="pp">
                <h3> 3. Polypropylene (PP) </h3> <br>
                <p class="productpara">
                    We are Manufacturer, Supplier, Exporter of Polypropylene Granules, PP Granules, PPCP Black,
                    Yellow, Blue,Green Granules, PP Talc Filled Granules, PP Glass Filled Granules, PPCP
                    Reprocessed Black and our setup is situated in Pune, Maharashtra, India.
                    <br><br>
                    Complete range of Homo, Random & Impact Polypropylene and Polypropylene Compounds for
                    Flexible and Rigid Applications.
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> PPCP BLACK</li>
                    <li> PPCP YELLOW, RED, BLUE, GREY, GREEN</li>
                    <li> PP BLACK</li>
                    <li> PP TALC FILLED</li>
                    <li> PP GLASS FILLED</li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polypropylene.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polypropylene-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>

                </div>
                <br>
            </div>
            <br>
            <div id="Polyoxymethylene" class="pom">
                <h3> 4. Polyoxymethylene (POM) </h3> <br>
                <p class="productpara">We are Manufacturer, Supplier, Exporter of Polyoxymethylene Granules, POM Plastic
                    Granules
                    and our setup is situated in Pune, Maharashtra, India.
                    <br><br>
                    POM is a material of an excellent quality with features of excellent
                    anti-friction/anti-wear, chemical-resistance, heat-resisting stability, precise dimensions
                    and moulding abilities. It is mainly applied in gear or roller, and is used for various
                    purposes over the fields of cars, office equipment and living materials.
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> POM COPOLYMER </li>
                    <li> POM HOMOPOLYMER</li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polyoxymethylene.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polyoxymethylene-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
            <div class="pc" id="Polycarbonates">
                <h3>5. Polycarbonates (Pc) </h3> <br>
                <p class="productpara">We are Manufacturer, Supplier, Exporter of Polycarbonate Granules, PC Granules,
                    Polycarbonate
                    Natural Granules, Polycarbonate Black Granules and our setup is situated in Pune,
                    Maharashtra, India.
                    <br><br>
                    Polycarbonate, an amorphous polymer, offers a unique combination of toughness with
                    exceptional impact strength. It also exhibits high optical clarity, excellent creep, and
                    high temperature resistance.
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> Polycarbonate Natural </li>
                    <li> Polycarbonate Black</li>
                    <li> PC / ABS</li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polycarbonates.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polycarbonates-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
            <div class="PMMA" id="Poly_Methyl_Methacrylate">
                <h3>6. Poly Methyl Methacrylate (PMMA) </h3> <br>
                <p class="productpara">We are Manufacturer, Supplier, Exporter of Polymethyl Methacrylate Granules, PMMA
                    Plastic
                    Granules, PMMA Granules, PMMA Natural Granules, PMMA Red Granules and our setup is situated
                    in Pune, Maharashtra, India.
                    <br><br>
                    Super transparent, amorphous PMMA offers high resistance to UV light and weathering,
                    chemical and heat resistance, long service life, and unlimited colouring options for various
                    applications.
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> PMMA NATURAL </li>
                    <li> PMMA RED</li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/poly-methyl-methacrylate.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/poly-methyl-methacrylate-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
            <div class="pvc" id="Poly_Vinyl_Chloride">
                <h3>7. Poly Vinyl Chloride (PVC)</h3> <br>
                <p class="productpara">We are Manufacturer, Supplier, Exporter of Poly Vinyl Chloride Granules, PVC
                    Granules, PVC
                    Black Granules, Natural PVC Granules, PVC Colored Granules, PVC Transparent Granules and our
                    setup is situated in Pune, Maharashtra, India.
                    <br><br>
                    A durable and long-lasting material that can be used in a variety of applications, either
                    rigid or flexible: building and construction, medical devices and food packaging.

                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> PVC BLACK </li>
                    <li> PVC NATURAL</li>
                    <li> PVC COLOUR</li>
                    <li> PVC TRANSPARENT COLOUR</li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/poly-vinyl-chloride.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/poly-vinyl-chloride-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
            <div id="Polystyrene" class="ps">
                <h3>8. Polystyrene (PS)</h3> <br>
                <p class="productpara">We are Manufacturer, Supplier, Exporter of Polystyrene Granules, PS Granules,
                    HIPS Granules,
                    GPPS Granules and our setup is situated in Pune, Maharashtra, India.
                    <br><br>A transparent polymer used in a variety of applications, such as food packaging and
                    appliances. Polystyrene foams are used for thermal insulation and protective packaging.

                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> HIPS</li>
                    <li> GPPS </li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polystyrene.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/nylon-granules.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
            <div id="Polybutylene_Terephthalate" class="pbt">
                <h3>9. Polybutylene Terephthalate (PBT)</h3> <br>
                <p class="productpara">We are Manufacturer, Supplier, Exporter of Polybutylene Terephthalate Granules,
                    PBT Granules,
                    PBT Natural Granules, PBT Black Granules, PBT Glass Filled Granules, PBT Unfilled
                    GlassFilled Natural Black and our setup is situated in Pune, Maharashtra, India.
                    <br><br>Dimensional stability, low warpage, weatherable, excellent chemical resistance and
                    high quality surface finish & gloss.
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> PBT NATURAL </li>
                    <li> PBT BLACK</li>
                    <li> PBT GLASSFILLED </li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polybutylene-terephthalate.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polybutylene-terephthalate-1.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
            <div id="Polyethylene" class="pe">
                <h3>10. Polyethylene (PE)</h3> <br>
                <p class="productpara">We are Manufacturer, Supplier, Exporter of Polyethylene Granules, PE Granules,
                    HDPE Granules,
                    LDPE Granules, LLDPE Granules and our setup is situated in Pune, Maharashtra, India.
                    <br><br>Complete range of HDPE, LDPE and LLDPE for Flexible and Rigid
                </p>
                <br>
                <h4>Range :</h4>
                <ul>
                    <li> HDPE </li>
                    <li> LDPE </li>
                    <li> LLDPE </li>
                </ul>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polyethylene.jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="">
                                <img src="/assets/products/polycarbonates-1 (1).jpg" alt="">
                            </div>
                        </div>
                    </div><br>
                </div>
                <br>
            </div>
            <br>
        </div>
    </section>
</div>

<div class="" style="display: flex; height: 100%; flex-direction: row;">
    <div id="colorbox-desktop" class="deskstop"
        style="background: linear-gradient(rgb(184, 78, 39) 0%, rgb(184, 78, 39) 98%, rgb(237, 19, 19) 99%, rgb(255, 0, 0) 100%);">
    </div>
    <div class="divc" id="Contact">
        <div class="contactsection">
            <div class="contact">
                <div class="ncontact">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="text-center">
                <h1><b>Contact Us</b></h1>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <h4>Address : </h4>
                    <p class="p">Plot No. 71 / 1B / 06, Gala No. 6, Paras Industrial Estate,<br>
                        T General Block, MIDC, Bhosari, Pune - 411026, Maharashtra, India.</p>
                    <br>
                    <h4>Mobile No. : </h4>
                    <p class="p">+ 91 - 94225 16258 / 86986 73519 </p>
                    <br>
                    <h4>Email : </h4>
                    <p class="p">response&#64;ssbpolymers.com</p>
                    <br>
                    <div class="css-enhan1">
                        <a href="https://www.facebook.com/" target="_blank" rel="noreferrer"
                            style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                                <circle cx="25.5" cy="25.5" r="25" stroke="red"></circle>
                                <g clip-path="url(#clip0)">
                                    <path
                                        d="M27.6 10.1C27.9 10.1 28.7 10.1 29 10.1C30.1 10.1 31.8 9.99999 33 10.1V15.1H29C27.5 15 27 15.4 27 17V21H32V26H27V40H22V26H18V21H22L21.9 16.6C21.9 13.5 22.5 11.7 25 10.6C25.7 10.3 26.7 10.1 27.6 10.1Z"
                                        fill="red"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="15" height="30" fill="red" transform="translate(18 10)">
                                        </rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" rel="noreferrer"
                            style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                                <circle cx="25.5" cy="25.5" r="25" stroke="red"></circle>
                                <path d="M19.2002 19.1H13.2002V36.1H19.2002V19.1Z" fill="red"></path>
                                <path
                                    d="M33.2998 18.6C34.9998 18.6 37.1998 19.4 38.4998 20.8C39.8998 22.3 40.1998 24.1 40.1998 26.2V36.2H34.1998V26.9C34.1998 25.2 33.4998 23.1 31.2998 23.1C29.9998 23.1 29.0998 23.9 28.4998 25.2C28.2998 25.6 28.3998 26.1 28.3998 26.6L28.2998 36.3H22.2998V19.3H28.2998L28.3998 21.5C28.7998 20.8 29.3998 20.2 30.0998 19.7C30.9998 18.9 32.0998 18.6 33.2998 18.6Z"
                                    fill="red"></path>
                                <path
                                    d="M16.2 11C17.7 11 19.3 12.2 19.3 14.1C19.3 15.7 17.9 17.2 16.1 17.2C14.6 17.2 13.1 16 13 14.1C13 12.4 14.4 11 16.2 11Z"
                                    fill="red"></path>
                            </svg>
                        </a>
                        <a href="https://www.youtube.com/" target="_blank" rel="noreferrer" style="line-height: 0;">
                            <svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                                <circle cx="25.5" cy="25.5" r="25" stroke="red"></circle>
                                <path
                                    d="M40.3482 17.432C40.0009 16.068 38.9589 15.012 37.613 14.66C35.2251 14 25.4997 14 25.4997 14C25.4997 14 15.8178 14 13.3865 14.66C12.084 15.012 10.9986 16.112 10.6512 17.476C10 19.896 10 25 10 25C10 25 10 30.104 10.6512 32.568C10.9986 33.932 12.0406 34.988 13.3865 35.34C15.8178 36 25.4997 36 25.4997 36C25.4997 36 35.2251 36 37.613 35.34C38.9589 34.988 40.0009 33.932 40.3482 32.568C40.9995 30.104 40.9995 25 40.9995 25C40.9995 25 41.0429 19.896 40.3482 17.432ZM22.4172 29.708V20.292L30.4926 25L22.4172 29.708Z"
                                    fill="red"></path>
                            </svg>
                        </a>
                    </div>
                    <br>
                </div><br>
                <div class="col-md-6">
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                <label for="name">Name:</label><br>
                                <input type="text" id="name" name="name" placeholder="Enter your name">
                            </div><br>
                            <br><br>
                            <div class="col-6">
                                <label for="email">Email:</label><br>
                                <input type="text" id="email" name="email" placeholder="Enter your email">
                            </div><br>
                            <br><br>
                            <div class="col-6">
                                <label for="phoneno">Phone No.:</label><br>
                                <input type="text" id="phoneno" name="phoneno" placeholder="Enter your phoneno">
                            </div><br>
                            <br><br>
                            <div class="col-6">
                                <label for="address">Address:</label><br>
                                <input type="text" id="address" name="address" placeholder="Enter your address">
                            </div><br>
                            <br><br>
                            <div class="col-12">
                                <label for="subject">Subject:</label><br>
                                <textarea type="text" id="subject" name="subject"
                                    placeholder="Enter your subject"></textarea>
                            </div><br>
                            <br><br>
                        </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-success btn-lg">Submit</button> <br>
                        </div>
                    </form> <br>
                </div><br>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7561.595167404107!2d73.832336!3d18.628172!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c78c00000001%3A0x9716783a750feb2d!2sS.S.B.%20POLYMERS!5e0!3m2!1sen!2sin!4v1744105789691!5m2!1sen!2sin"
                width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>

            <br>
        </div>
    </div>
</div>