<div class="laptopview">
    <img src="/assets/logo.png" id="myDiv" class="logoimage" alt="Logo image">
    <div class="css-5x6ly7">
        <div class="css-d3l3vl">
            <div style="opacity: 1;">
                <div class="css-vurnku"><a class="css-bfht7h">Introduction</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">About us</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">Our products</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">Updates</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">FAQ</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">Contact us</a> </div>
            </div>
            <div class="css-unl981">
                <div style="display: flex; flex-direction: column; justify-content: center; position: absolute; width: 100%; opacity: 1; 
            transform: translateY(-0.5em) translateZ(0px);">
                    <a class="css-1reuo1k" href="#Nylon-granules">Nylon Granules</a>
                    <a class="css-1reuo1k" href="#Acrylonitrile">Acrylonitrile Butadiene Styrene </a>
                    <a class="css-1reuo1k" href="#Polypropylene">Polypropylene (PP) </a>
                    <a class="css-1reuo1k" href="#Polyoxymethylene">Polyoxymethylene (POM)</a>
                    <a class="css-1reuo1k" href="#Polycarbonates">Polycarbonates (PC)</a>
                    <a class="css-1reuo1k" href="#Poly_Methyl_Methacrylate">Poly Methyl Methacrylate (PMMA)</a>
                    <a class="css-1reuo1k" href="#Poly_Vinyl_Chloride">Poly Vinyl Chloride (PVC)</a>
                    <a class="css-1reuo1k" href="#Polystyrene">Polystyrene (PS) </a>
                    <a class="css-1reuo1k" href="#Polybutylene_Terephthalate">Polybutylene Terephthalate
                        (PBT)</a>
                    <a class="css-1reuo1k" href="#Polyethylene">Polyethylene (PE) </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div style="opacity: 1;">
            <div class="css-1x02del">
                <div class="css-vurnku">
                    <div class="css-au8rjq"><a class="css-55d63a">Privacy policy</a></div>
                    <div class="css-au8rjq"><a href="https://fourthdm.in" class="css-55d63a">Design by
                            FourthDm</a></div>
                    <div class="css-au8rjq"><a href="https://fourthdm.com" class="css-55d63a">Development by
                            FourthDm</a></div>
                    <div class="css-au8rjq"><a class="css-55d63a">S.S.B. POLYMERS & S.S.B. ENTERPRISES.</a>
                    </div>
                    <div class="css-au8rjq"><a class="css-55d63a">© SSB 2025</a></div>
                </div>
                <div class="css-enhan1"><a href="https://www.facebook.com/" target="_blank" rel="noreferrer"
                        style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                            <circle cx="25.5" cy="25.5" r="25" stroke="white"></circle>
                            <g clip-path="url(#clip0)">
                                <path
                                    d="M27.6 10.1C27.9 10.1 28.7 10.1 29 10.1C30.1 10.1 31.8 9.99999 33 10.1V15.1H29C27.5 15 27 15.4 27 17V21H32V26H27V40H22V26H18V21H22L21.9 16.6C21.9 13.5 22.5 11.7 25 10.6C25.7 10.3 26.7 10.1 27.6 10.1Z"
                                    fill="white"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="15" height="30" fill="white" transform="translate(18 10)">
                                    </rect>
                                </clipPath>
                            </defs>
                        </svg></a><a href="https://www.linkedin.com/company/" target="_blank" rel="noreferrer"
                        style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                            <circle cx="25.5" cy="25.5" r="25" stroke="white"></circle>
                            <path d="M19.2002 19.1H13.2002V36.1H19.2002V19.1Z" fill="white"></path>
                            <path
                                d="M33.2998 18.6C34.9998 18.6 37.1998 19.4 38.4998 20.8C39.8998 22.3 40.1998 24.1 40.1998 26.2V36.2H34.1998V26.9C34.1998 25.2 33.4998 23.1 31.2998 23.1C29.9998 23.1 29.0998 23.9 28.4998 25.2C28.2998 25.6 28.3998 26.1 28.3998 26.6L28.2998 36.3H22.2998V19.3H28.2998L28.3998 21.5C28.7998 20.8 29.3998 20.2 30.0998 19.7C30.9998 18.9 32.0998 18.6 33.2998 18.6Z"
                                fill="white"></path>
                            <path
                                d="M16.2 11C17.7 11 19.3 12.2 19.3 14.1C19.3 15.7 17.9 17.2 16.1 17.2C14.6 17.2 13.1 16 13 14.1C13 12.4 14.4 11 16.2 11Z"
                                fill="white"></path>
                        </svg></a><a href="https://www.youtube.com/channel/" target="_blank" rel="noreferrer"
                        style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                            <circle cx="25.5" cy="25.5" r="25" stroke="white"></circle>
                            <path
                                d="M40.3482 17.432C40.0009 16.068 38.9589 15.012 37.613 14.66C35.2251 14 25.4997 14 25.4997 14C25.4997 14 15.8178 14 13.3865 14.66C12.084 15.012 10.9986 16.112 10.6512 17.476C10 19.896 10 25 10 25C10 25 10 30.104 10.6512 32.568C10.9986 33.932 12.0406 34.988 13.3865 35.34C15.8178 36 25.4997 36 25.4997 36C25.4997 36 35.2251 36 37.613 35.34C38.9589 34.988 40.0009 33.932 40.3482 32.568C40.9995 30.104 40.9995 25 40.9995 25C40.9995 25 41.0429 19.896 40.3482 17.432ZM22.4172 29.708V20.292L30.4926 25L22.4172 29.708Z"
                                fill="white"></path>
                        </svg></a></div>
            </div>
        </div>
    </div>
</div>


<div class="css-5v7lsm" style="transform-origin: 50% 50% 0px;">
    <div class="css-ydn545">
        <div class="css-vurnku">
            <div class="css-d5oeo0">
                <div title="" role="button" aria-label="animation" tabindex="0">
                    <img src="/assets/logo.png" id="myDiv" class="logoimage" alt="Logo image">
                </div>
            </div>
        </div>
    </div>
    <div class="css-5x6ly7">
        <div class="css-d3l3vl">
            <div style="opacity: 1;">
                <div class="css-vurnku"><a class="css-bfht7h">Introduction</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">About us</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">Our products</a></div>
                <div class="css-vurnku"><a class="css-bfht7h">Contact us</a></div>
            </div>
            <div class="css-unl981">
                <div style="display: flex; flex-direction: column; justify-content: center; position: absolute; width: 100%; opacity: 1; 
                    transform: translateY(-0.5em) translateZ(0px);">
                    <a class="css-1reuo1k" href="#Nylon-granules">Nylon Granules</a>
                    <a class="css-1reuo1k" href="#Acrylonitrile">Acrylonitrile Butadiene Styrene </a>
                    <a class="css-1reuo1k" href="#Polypropylene">Polypropylene (PP) </a>
                    <a class="css-1reuo1k" href="#Polyoxymethylene">Polyoxymethylene (POM)</a>
                    <a class="css-1reuo1k" href="#Polycarbonates">Polycarbonates (PC)</a>
                    <a class="css-1reuo1k" href="#Poly_Methyl_Methacrylate">Poly Methyl Methacrylate (PMMA)</a>
                    <a class="css-1reuo1k" href="#Poly_Vinyl_Chloride">Poly Vinyl Chloride (PVC)</a>
                    <a class="css-1reuo1k" href="#Polystyrene">Polystyrene (PS) </a>
                    <a class="css-1reuo1k" href="#Polybutylene_Terephthalate">Polybutylene Terephthalate
                        (PBT)</a>
                    <a class="css-1reuo1k" href="#Polyethylene">Polyethylene (PE) </a>
                </div>
            </div>
        </div>
    </div>
    <div style="opacity: 1;">
        <div class="css-1x02del">
            <div class="css-vurnku">
                <div class="css-au8rjq"><a class="css-55d63a">Privacy policy</a></div>
                <div class="css-au8rjq"><a href="https://fourthdm.in" class="css-55d63a">Design by
                        FourthDm</a></div>
                <div class="css-au8rjq"><a href="https://fourthdm.com" class="css-55d63a">Development by
                        FourthDm</a></div>
                <div class="css-au8rjq"><a class="css-55d63a">S.S.B. POLYMERS & S.S.B. ENTERPRISES.</a></div>
                <div class="css-au8rjq"><a class="css-55d63a">© SSB 2025</a></div>
            </div>
            <div class="css-enhan1"><a href="https://www.facebook.com/" target="_blank" rel="noreferrer"
                    style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                        <circle cx="25.5" cy="25.5" r="25" stroke="white"></circle>
                        <g clip-path="url(#clip0)">
                            <path
                                d="M27.6 10.1C27.9 10.1 28.7 10.1 29 10.1C30.1 10.1 31.8 9.99999 33 10.1V15.1H29C27.5 15 27 15.4 27 17V21H32V26H27V40H22V26H18V21H22L21.9 16.6C21.9 13.5 22.5 11.7 25 10.6C25.7 10.3 26.7 10.1 27.6 10.1Z"
                                fill="white"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="15" height="30" fill="white" transform="translate(18 10)"></rect>
                            </clipPath>
                        </defs>
                    </svg></a><a href="https://www.linkedin.com/company/" target="_blank" rel="noreferrer"
                    style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                        <circle cx="25.5" cy="25.5" r="25" stroke="white"></circle>
                        <path d="M19.2002 19.1H13.2002V36.1H19.2002V19.1Z" fill="white"></path>
                        <path
                            d="M33.2998 18.6C34.9998 18.6 37.1998 19.4 38.4998 20.8C39.8998 22.3 40.1998 24.1 40.1998 26.2V36.2H34.1998V26.9C34.1998 25.2 33.4998 23.1 31.2998 23.1C29.9998 23.1 29.0998 23.9 28.4998 25.2C28.2998 25.6 28.3998 26.1 28.3998 26.6L28.2998 36.3H22.2998V19.3H28.2998L28.3998 21.5C28.7998 20.8 29.3998 20.2 30.0998 19.7C30.9998 18.9 32.0998 18.6 33.2998 18.6Z"
                            fill="white"></path>
                        <path
                            d="M16.2 11C17.7 11 19.3 12.2 19.3 14.1C19.3 15.7 17.9 17.2 16.1 17.2C14.6 17.2 13.1 16 13 14.1C13 12.4 14.4 11 16.2 11Z"
                            fill="white"></path>
                    </svg></a><a href="https://www.youtube.com/channel/" target="_blank" rel="noreferrer"
                    style="line-height: 0;"><svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="css-efac2s">
                        <circle cx="25.5" cy="25.5" r="25" stroke="white"></circle>
                        <path
                            d="M40.3482 17.432C40.0009 16.068 38.9589 15.012 37.613 14.66C35.2251 14 25.4997 14 25.4997 14C25.4997 14 15.8178 14 13.3865 14.66C12.084 15.012 10.9986 16.112 10.6512 17.476C10 19.896 10 25 10 25C10 25 10 30.104 10.6512 32.568C10.9986 33.932 12.0406 34.988 13.3865 35.34C15.8178 36 25.4997 36 25.4997 36C25.4997 36 35.2251 36 37.613 35.34C38.9589 34.988 40.0009 33.932 40.3482 32.568C40.9995 30.104 40.9995 25 40.9995 25C40.9995 25 41.0429 19.896 40.3482 17.432ZM22.4172 29.708V20.292L30.4926 25L22.4172 29.708Z"
                            fill="white"></path>
                    </svg></a></div>
        </div>
    </div>
</div>