.desktop {
    min-width: 13.96vw;
    width: 13.96vw;
    position: relative;
}

img {
    width: 100%;
}

.logoimage {
    width: 10%;
    position: fixed;
}

.aboutsection {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.about {
    box-sizing: border-box;
    margin: 0px 0px 1.3vw;
    min-width: 0px;
    background: linear-gradient(rgba(0, 58, 188, 0) 0%, rgba(0, 58, 188, 0) 0.3%, rgba(0, 58, 188, 0.1) 20%, rgba(0, 58, 188, 0.2) 29%, rgba(0, 58, 188, 0.55) 62%, rgb(0, 58, 188) 100%);
    height: 100px;
    transform: rotate(-180deg);
    padding-top: 1vw;
    padding-bottom: 1vw;

    .nabout {
        box-sizing: border-box;
        margin: 0px auto;
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        padding-left: 3.71vw;
        padding-right: 3.71vw;
        transform: rotate(-180deg);
        height: 100%;
        opacity: 1;
        transition-duration: 0.25s;
    }

    h1 {
        padding-top: 2%;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        color: white;
    }
}

.productsection {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.products {
    box-sizing: border-box;
    margin: 0px 0px 1.3vw;
    min-width: 0px;
    background: linear-gradient(rgba(9, 162, 120, 0) 0%, rgba(9, 162, 120, 0) 0.3%, rgba(9, 162, 120, 0.1) 20%, rgba(9, 162, 120, 0.2) 29%, rgba(9, 162, 120, 0.55) 62%, rgb(9, 162, 120) 100%);
    height: 100px;
    transform: rotate(-180deg);
    padding-top: 1vw;
    padding-bottom: 1vw;

    .nproducts {
        box-sizing: border-box;
        margin: 0px auto;
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        padding-left: 3.71vw;
        padding-right: 3.71vw;
        transform: rotate(-180deg);
        height: 100%;
        opacity: 1;
        transition-duration: 0.25s;
    }

    h1 {
        padding-top: 2%;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        color: white;
    }
}

.contactsection {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.contact {
    box-sizing: border-box;
    margin: 0px 0px 1.3vw;
    min-width: 0px;
    /* background: linear-gradient(rgba(184, 78, 39, 0) 0%, rgba(184, 78, 39, 0) 0.3%, rgba(184, 78, 39, 0.1) 20%, rgba(184, 78, 39, 0.2) 29%, rgba(184, 78, 39, 0.55) 62%, rgb(184, 78, 39) 100%); */
    background: linear-gradient(rgba(184, 78, 39, 0) 0%, rgba(184, 78, 39, 0) 0.3%, rgba(184, 78, 39, 0.1) 20%, rgba(184, 78, 39, 0.2) 29%, rgba(184, 78, 39, 0.55) 62%, rgb(184, 78, 39) 100%);
    height: 100px;
    transform: rotate(-180deg);
    padding-top: 1vw;
    padding-bottom: 1vw;

    .ncontact {
        box-sizing: border-box;
        margin: 0px auto;
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        padding-left: 3.71vw;
        padding-right: 3.71vw;
        transform: rotate(-180deg);
        height: 100%;
        opacity: 1;
        transition-duration: 0.25s;
    }

    h1 {
        padding-top: 2%;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        color: white;
    }
}


.css-5x6ly7 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    /* margin-top: 40%; */
    /* position: fixed; */
}

.css-d3l3vl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: grid;
    gap: 0px;
    grid-template-columns: 3fr 3fr;
    width: 46.95vw;
}

.css-unl981 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    position: absolute;
    display: none;
}

.css-vurnku {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}

.css-1reuo1k {
    color: white;
    font-size: 25px;
}

.css-bfht7h {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: ABCFavorit, sans-serif;
    font-weight: 200;
    font-size: 5.87vw;
    line-height: 5.87vw;
    letter-spacing: -0.05em;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 1080px) {
    .css-bfht7h {
        font-size: 2.1vw;
        line-height: 2.1vw;
        letter-spacing: -0.04em;
    }
}

.css-1x02del {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: grid;
    gap: 0px;
    grid-template-columns: 3fr 3fr;
    position: relative;
}

.css-enhan1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    align-items: flex-end;
    margin-right: 8px;
}

.desktop:hover {
    min-width: 46.95vw;
    width: 46.95vw;

    .logoimage {
        width: 10%;
    }

    .css-unl981 {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        width: 100%;
        position: relative;
        display: block;
    }

    .laptopview {
        display: none;
    }

    .css-5v7lsm {
        width: 46.95vw;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: 100%;
        padding: 1.05vw;
    }
}


/* 
.scroll-video-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
}


.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.scroll-video-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Video doesn't block hover */
}


.mobilewrapper {
    display: none;
}