.css-5v7lsm {
    width: 46.95vw;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 1.05vw;
}

.css-ydn545 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: grid;
    gap: 16px;
    grid-template-columns: 2fr 5fr;
}

.css-vurnku {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}

.css-d5oeo0 {
    box-sizing: border-box;
    margin: -1.05vw 0px 0px -1.05vw;
    min-width: 0px;
    width: 50%;
    cursor: pointer;
}

.css-5x6ly7 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
}

.css-d3l3vl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: grid;
    gap: 0px;
    grid-template-columns: 3fr 3fr;
    width: 46.95vw;
}

.css-bfht7h {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: ABCFavorit, sans-serif;
    font-weight: 700;
    font-size: 5.87vw;
    line-height: 5.87vw;
    letter-spacing: -0.05em;
    color: white;
    cursor: pointer;
}