<div class="css-5x6ly7">
    <div class="css-d3l3vl">
        <div style="opacity: 0.2;">
            <div class="css-vurnku">
                <a class="css-bfht7h">Introduction</a>
            </div>
            <div class="css-vurnku">
                <a class="css-bfht7h">About us</a>
            </div>
            <div class="css-vurnku">
                <a class="css-bfht7h">Our products</a>
            </div>
            <div class="css-vurnku">
                <a class="css-bfht7h">Updates</a>
            </div>
            <div class="css-vurnku">
                <a class="css-bfht7h">FAQ</a>
            </div>
            <div class="css-vurnku">
                <a class="css-bfht7h">Contact us</a>
            </div>
        </div>
        <div class="css-unl981"></div>
    </div>
</div>